/* setMeal.html  css */
header iframe{
    width: 100%;
    height:230px;
}
footer iframe{
    width: 100%;
    height:500px;
}
.main1_bg{
    background: url(http://127.0.0.1:3000/image/setMeal/bg2_img.png) center 0px;
}
.bg3 {
    background: url(http://127.0.0.1:3000/image/setMeal/bg3.jpg) no-repeat ;
    height: 515px;
}
.number_city{
    border-right: 2px solid #f0f0f0;
}
.number_city>p:last-child{
  font-size: 0.9rem;
}
.chongqing{
    color:#f9810a;
}
.number_width{
    width: 87%;
    background: #fff;
}
.number_border{
    border: 1px solid #f0f0f0;
}
.number_border>h5>span{
    color:#f9810a;
}
.save_price{
    font-size: 0.2rem;
    color:#888;
}
.number_font{
    font-size:0.9rem;
    color:#f9810a;
    border: 1px solid #f9810a;
    padding: 1px;
}

/* broadband  css */
.containerBroad{
    width: 100%;
    padding-right: 120px;
    padding-left: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-top:-80px;
}
.containerBroad .broadbg{
    background: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

span.tip{
    font-size: 0.8rem;
}

.broadCity>img{
   font-size: 2rem
}

.area-sel{
    width: 180px;
    background: #fff;
    height: 36px;
    font-size: 16px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    border-color: #ff7300;
    color: #333333;
}

.broadSales li{
    border: 2px solid #ff7300;
    border-radius: 5px;
    width:300px;
    height:300px;
    margin-right: 20px;
    position: relative; 
}
.broadSales li a p{
    position: absolute;
    background: url(http://127.0.0.1:3000/image/setMeal/green.png) no-repeat;
    background-size: 70% 70%;
    font-size: 40px;
    width:100%;
    height:100%;
    left:43px;
    top:38px
    
}
.broadSales li a p span{
    position: absolute;
    left:53px;
    top:62px
}
.broadSales li a p img{
  position: absolute;
  left: -30px;
  top:129px;
  width: 50%
}

.broadSales li a p .perYear{
   position: absolute;
   font-size: 0.6rem;
   left:42px;
   top:213px;
   color:#f86478
}

/* 标签元素选择图 */
.selectedTag ul{
  position: relative
}
.selectedTag ul .move1 {
    position: absolute;
    left:154px;
    display: block;
}
.selectedTag ul .move2 {
    position: absolute;
    left:474px;
    display: block;
}
.selectedTag ul li img{
    width: 30px;
    height: 20px;
}

.orangeline {
    background-color: #ff7300;
    height: 1px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 25px;
}

.broadbuy{

    text-align: center;
    font-size: 1.3rem;
    
}
.broadbuy a{
    margin-top: 10px;
}
.broadbuy a p{
    height: 53px;
    width: 225px;
    background: #f9810a;
    border-radius: 10px;
    color: #fff;
    margin-left: 40px;
    line-height: 50px;
}






